<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="head">
	<title>쪽지</title>
	<meta charset="utf-8">

	<!-- css -->
	<link th:href="@{/css/layout_content.css}" rel="stylesheet" />
	<link th:href="@{/css/message.css}" rel="stylesheet" />

	<!-- Bootstrap CSS -->
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
		crossorigin="anonymous">

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</th:block>

<body>
	<th:block layout:fragment="nav" th:include="@{/fragments/nav}"></th:block>

	<div layout:fragment="content" class="content">
		<div class="container w-75">
			<a href="#">
				<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="grey" class="bi bi-arrow-left" viewBox="0 0 16 16">
  					<path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
				</svg>
			</a>
			
			<!-- post info -->
			<div class="row mx-auto mt-3">
				<div class="col-1">
					<img src="/image/postList.JPG" alt="..." id="img-post" class="rounded-3">				
				</div>
				
				<div class="col-10">
					<div id="page_title"><b>두루마루 휴지 나눕합니다</b></div>
					<div id="small_content">2022/05/19 23:36</div>
				</div>
				
				<div class="col-1 mt-3">
				<a href="#">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16">
  						<path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
					</svg>
				</a>
				</div>
			</div>
			
			<hr>
			
			<!-- message section (추후 데이터에 따라 조건문 적용하여 보이게 할 예정) -->
			<div class="msg-container">
				<!-- receiver section -->
				<div class="mt-1">
					<!-- receiver info -->	
					<div class="d-flex">
						<div>
							<img src="/image/yellow.JPG" alt="..." id="img-author-msg" class="rounded-pill">
						</div>
						<div class="ms-3" id="main_content">
							김매미
						</div>
					</div>
					
					<!-- receiver message -->
					<div class="ms-5">
						<div id="main_content" class="msg-bubble">안녕하세요~안녕하세요~안녕하세요~안녕하세요~안녕하세요~ v안녕하세요~안녕하세요~안녕하세요~안녕하세요~</div>
						<div id="small_content" class="ms-1" th:text="${#dates.format(date, 'yyyy/MM/dd HH:mm')}">2022/05/19 23:36</div>				
					</div>
				</div>
				
				<!-- sender section -->
				<th:block th:each="num : ${#numbers.sequence(1,10)}">
				<div class="mt-1 me-3" align="right">
					<!-- sender message -->
					<div class="">
						<div id="main_content" class="msg-bubble-right">안녕하세요~안녕하세요~안녕하세요~안녕하세요~안녕하세요~ v안녕하세요~안녕하세요~안녕하세요~안녕하세요~</div>
						<div id="small_content" class="ms-1" th:text="${#dates.format(date, 'yyyy/MM/dd HH:mm')}">2022/05/19 23:36</div>				
					</div>
				</div>
				</th:block>
				
			</div>
			
			<!-- reply section -->
			<div class="mb-3 mt-3 d-flex">
					<textarea class="form-control" aria-label="With textarea" placeholder="메세지를 입력해주세요."></textarea>
					<button type="button" class="btn" id="btn_reply">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
  							<path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
						</svg>
					</button>
			</div>
		</div>
		<!-- container -->
	</div>
	<!-- content -->

	<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
</body>
</html>