@charset "UTF-8";

#btn-search-option{
	border-radius: 8px;
	border-color: grey;
}
#btn-search-option:hover {
	color: white;
	background-color: #91A77F;
}
#div-img{
	width : 50%;
	margin : auto;
}
.img-fluid{
	border-radius: 20px;
}
#img-author{
	width:72px;
	height:72px;
	margin:auto;
}
#small_content{
	color:grey;
}

table{
	margin:0 50px 0 -30px;
}

.icon{
	margin : 0 5px 0 0;
}
#btn-modalConfirm{
	background-color: #91A77F;
}