@charset "UTF-8";

#btn-confirm {
	border-radius: 10px;
	color : #735C3F;
	border-color: #735C3F;
}

#btn-confirm:hover{
	color: white;
	background-color: #735C3F;
} 

button{
	border-radius: 8px;
	border-color: grey;
}

#div-img {
	width: 50%;
	margin: auto;
}

#img-author, #img-post {
	width: 72px;
	height: 72px;
}

a{
	text-decoration : none !important;
}

#div-img {
	width: 50%;
	margin: auto;
}

#img-author, #img-post {
	width: 72px;
	height: 72px;
}

#small_content {
	color: grey;
}


#icon:hover{
    transform: scale(1.1, 1.1);
    transition-duration: 0.5s;
    background-color:initial;
  }
#icon{
    transition-duration: 1s;
  }

#div-thumbnail{
	width : 30%;
}
	
#div-thumbnail img{
	max-width: 100%;
    height: auto;
}
.error{
	color : red;
}
