
@charset "UTF-8";

#fav-card{
	background-color : #EFF2EC;
}
#isDone{
	background-color : #91A77F;
}
.card-img-top{
	height: 13vw;
    object-fit: cover;
}
#btn-newPost{
	border-radius : 10px;
	border-color:#91A77F;
	positon:fixed;
	botton:0;
}
#btn-newPost:hover{
	color : white;
	background-color : #91A77F;
}