<!-- Experiod add Modal -->
<script>
	// 교체주기 선택 요소가 저장되는 배열
	const cntCategory = [];
	
	// 교체주기 선택 요소 등록
	function handleOnClickCategory(e) {
		const value = e.innerText;

		console.log(cntCategory);
		if (cntCategory.length > 0) {
			alert('선호 생필품은 1개만 선택 가능합니다.');
			return;
		}
		const $selectedTag = $('<span>' + value + '</span>');
		$selectedTag.attr("class", "badge me-1");
		$selectedTag.attr("id", "item");
		$selectedTag.attr("onclick", "cancelOnClickCategory(this)");
		$('#selecteCategory').append($selectedTag);
		
		// form으로 보낼 요소
		const $selectedItem = $('<input type="text" id="selectedItem" name="category" value="' + value + '">');		
		$('#formItem').append($selectedItem);

		cntCategory.push(value);
	}

	// 교체주기 선택 요소 삭제
	function cancelOnClickCategory(e) {
		const value = e.innerText;
		e.remove();
		
		// form으로 보낼 요소도 삭제
		const $selectedItem = document.getElementById('selectedItem');
		console.log($selectedItem);
		$selectedItem.remove();
		cntCategory.pop();
		
		return;
	}
	
	// 교체주기 POST
	function submit() {
		if(cntCategory.length == 0) {
			alert('카테고리를 선택해주세요.');
			return false;
		}
		
		var form = document.getElementById('form');
		form.submit();
	}
</script>

<div class="modal fade" id="experiodAddModal" tabindex="-1"
	aria-labelledby="experiodAddModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body justify-content-md-center ps-5 pe-5">
				<div id="page_title" class="text-center">
					<b>교체 주기 등록</b>
				</div>
				<form class="ps-5 pt-2 pe-5" id="form" th:action="@{/experiods}" method="POST">
					<div class="mb-3">
						<div class="dropdown">
							<button class="btn btn-white text-black dropdown-toggle"
								type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
								aria-expanded="false">생필품 카테고리 선택</button>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" id="categoryMap">
								<th:block th:each="item : ${categoryMap}">
									<li><a class="dropdown-item" th:text="${item.key}" onclick="handleOnClickCategory(this)">생필품</a></li>
								</th:block>
							</ul>
						</div>
						<div id="selecteCategory"></div>
					</div>
					
					<div class="mb-5 font-grey">
						생필품 종류를 설정해주세요!<br>
						생강마켓에서 자동으로 계산하여 교체 예정일 3일전부터 마이페이지에서 알림을 보내드립니다.
					</div>
					
					<div id="formItem" style="display:none">
					</div>

					<div class="mb-2 mt-5 pt-5 text-center">
						<button type="button" class="quit_btn w-75" onclick="submit()">등록</button>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>