<div class="row pt-3" id="move">
	<div class="col col-lg-10" id="middle_title">
		<b>교체주기</b>
	</div>
	<div class="col col-lg-2" id="main_content">
		<a href="#">달력</a> | <a href="#">모아보기</a>
	</div>
</div>
<div class="row pt-1 border-top"></div>
<!-- calendar -->
<div class="row pt-3">
	<div class="col col-lg-6">
		
		<div class="sec_cal">
  <div class="cal_nav">
    <a href="javascript:;" class="nav-btn go-prev">prev</a>
    <div class="year-month"></div>
    <a href="javascript:;" class="nav-btn go-next">next</a>
  </div>
  <div class="cal_wrap">
    <div class="days">
      <div class="day">MON</div>
      <div class="day">TUE</div>
      <div class="day">WED</div>
      <div class="day">THU</div>
      <div class="day">FRI</div>
      <div class="day">SAT</div>
      <div class="day">SUN</div>
    </div>
    <div class="dates"></div>
  </div>
</div>
		</div>
	<div class="col col-lg-6">s</div>
	</div>
	
<div class="row pt-3">
	<div class="col col-lg-12">
      	<button type="button" class="w-100 update_btn" data-bs-toggle="modal" data-bs-target="#experiodAddModal">교체주기 등록</button>
    </div>
</div>
