<div class="row pt-3">
	<div class="col col-lg-10" id="middle_title">
		<b>공동구매내역</b>
	</div>
	<div class="col col-lg-2" id="main_content">
		<a href="#">등록한 공구</a> | <a href="#">참여한 공구</a>
	</div>
</div>
<!-- list -->
<th:block th:each="num : ${#numbers.sequence(1,5)}">
<div class="row pt-1 border-top"></div>
<div class="row p-3">
	<div class="col col-lg-2" id="main_content">
		<img src="/image/profile2.jpg" class="img-fluid" alt="image">
	</div>
	<div class="col col-lg-6" id="main_content">
		<div class="d-inline-block text-truncate">
			<a href="#">두루마리 휴지 공구할 분</a>
		</div>
		<div class="userId">참여</div>
	</div>
	<div class="col col-lg-2 position-relative" id="middle_title">
		<b class="position-absolute bottom-0 end-0">1200원</b>
	</div>
	<div class="col col-lg-2 position-relative" id="main_content">
		<div class="position-absolute bottom-0 start-0 ps-3 pb-1">2022/05/10</div>
	</div>
</div>
</th:block>
