<script th:inline="javascript">
	function deleteExperiod(idx) {
		var result = confirm("삭제하시겠습니까?");
		
		if(result) {
			var form = document.getElementById('experiodDeleteForm');
			form.submit();
		}
	}
	
	
	$(document).ready(function() {
	    calendarInit();
	});
	/*
	    달력 렌더링 할 때 필요한 정보 목록 

	    현재 월(초기값 : 현재 시간)
	    금월 마지막일 날짜와 요일
	    전월 마지막일 날짜와 요일
	*/
	var monthList = ['MON', 'TUE', 'WED', "THU", "FRI", "SAT", "SUN"];

	function calendarInit() {

	    // 날짜 정보 가져오기
	    var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
	    var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
	    var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
	    var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
	  
	    var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
	    // 달력에서 표기하는 날짜 객체
	  
	    var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
	    var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
	    var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

	    // 캘린더 렌더링
	    renderCalender(thisMonth);

	    function renderCalender(thisMonth) {

	        // 렌더링을 위한 데이터 정리
	        currentYear = thisMonth.getFullYear();
	        currentMonth = thisMonth.getMonth();
	        currentDate = thisMonth.getDate();

	        // 이전 달의 마지막 날 날짜와 요일 구하기
	        var startDay = new Date(currentYear, currentMonth, 0);
	        var prevDate = startDay.getDate();
	        var prevDay = startDay.getDay();

	        // 이번 달의 마지막날 날짜와 요일 구하기
	        var endDay = new Date(currentYear, currentMonth + 1, 0);
	        var nextDate = endDay.getDate();
	        var nextDay = endDay.getDay();

	        // 현재 월 표기
	        $('.year-month').text(currentYear + '.' + (currentMonth + 1));

	        // 렌더링 html 요소 생성
	        calendar = document.querySelector('.dates')
	        calendar.innerHTML = '';
	        
	        // 지난달
	        for (var i = prevDate - prevDay + 1; i <= prevDate; i++) {
	            calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable" >' + i + '</div>'
	        }
	        // 이번달
	        for (var i = 1; i <= nextDate; i++) {	            
	        	
	            // 날짜에 해당하는 데이터가 있다면 아이콘을 찍어준다.
	            let experiodList = [[${experiodList}]];
	            let ex_date = new Date(currentYear + "-" + (currentMonth + 1) + "-" + i);
	            
	            const year = ex_date.getFullYear();
	            const month = ex_date.getMonth() + 1;
	            const date = ex_date.getDate();
	            
	            let ex_date_str = (`${year}-${month >= 10 ? month : '0' + month}-${date >= 10 ? date : '0' + date}`);
	            let flag = false;
	            experiodList.forEach(function(experiod) {
	            	if(ex_date_str == experiod.endDate) {
	            		console.log(experiod.endDate);
	            		flag = true;
	            		}
	            });
	            
	            if(flag) {
		            calendar.innerHTML = calendar.innerHTML + '<div class="day current" onclick="onClickCalendar(this)" >'
					+ '<span class="badge">' + i + '</span>'
		            + '</div>';
	            } else {
		            calendar.innerHTML = calendar.innerHTML + '<div class="day current" onclick="onClickCalendar(this)" >' + i + '</div>';
	            }
	            
	            
	        }
	        // 다음달
	        for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay); i++) {
	            calendar.innerHTML = calendar.innerHTML + '<div class="day next disable">' + i + '</div>'
	        }

	        // 오늘 날짜 표기
	        if (today.getMonth() == currentMonth) {
	            todayDate = today.getDate();
	            var currentMonthDate = document.querySelectorAll('.dates .current');
	            currentMonthDate[todayDate -1].classList.add('today');
	        }
	    }

	    // 이전달로 이동
	    $('.go-prev').on('click', function() {
	        thisMonth = new Date(currentYear, currentMonth - 1, 1);
	        renderCalender(thisMonth);
	    });

	    // 다음달로 이동
	    $('.go-next').on('click', function() {
	        thisMonth = new Date(currentYear, currentMonth + 1, 1);
	        renderCalender(thisMonth); 
	    });
	    
	    $('.current').on('click', function() {
			
		});
	}

	//클릭한 날짜로 비동기 통신
	function onClickCalendar(e) {
		console.log(e);
		var preClick = document.querySelector('.click')
		if(preClick != null)
			preClick.classList.remove('click');
		
		e.classList.add('click');
		
		var thisYearMonth = document.querySelector('.year-month')
		
		var clickDate = thisYearMonth.textContent + "." + e.textContent;
		console.log(clickDate);
		
		const url = "/experiods/date?date=" + clickDate;
		 $.ajax({
		        url: url,
		        type: "GET",
		    success: function onData (data) {
		    	 $('#experiodContent').replaceWith(data);
    		},
   			 error: function onError (error) {
        		console.error(error);
    		}
		  });
		
	}
</script>

<div class="row pt-3" id="move">
	<div class="col col-lg-12" id="middle_title">
		<b>교체주기</b>
	</div>
</div>
<div class="row pt-1 border-top"></div>
<!-- calendar -->
<div class="row pt-3">
	<div class="col col-lg-6 text-center" id="middle_title"> 
		<!-- calendar prev -->
				<a href="javascript:;" class="nav-btn go-prev"> 
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
							fill="currentColor" class="bi bi-arrow-left-circle"
							viewBox="0 0 16 16">
		  				<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
					</svg>
				</a>
			<!-- calendar current year, month -->
				<span class="year-month m-3"></span>
			<!-- calendar next -->
				<a href="javascript:;" class="nav-btn go-next">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" class="bi bi-arrow-right-circle"
						viewBox="0 0 16 16">
					  <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
					</svg>
				</a>
	</div>

	<div class="col col-lg-6">
		<button type="button" class="w-100 quit_btn" data-bs-toggle="modal"
			data-bs-target="#experiodAddModal">교체주기 등록</button>
	</div>
</div>
<div class="row pt-3">
	<div class="col col-lg-6">
		<div class="sec_cal w-100">
			<div class="cal_wrap">
				<div class="days">
					<div class="day">MON</div>
					<div class="day">TUE</div>
					<div class="day">WED</div>
					<div class="day">THU</div>
					<div class="day">FRI</div>
					<div class="day">SAT</div>
					<div class="day">SUN</div>
				</div>
				<div class="dates"></div>
			</div>
		</div>
	</div>
	<div class="col col-lg-6" id="experiodContent">
		<th:block th:each="experiod : ${experiodList}">
		<div th:if="${experiod.dDay > -1}">
			<div class="row pt-1 border-top"></div>
			<div class="row p-3">
				<div class="col col-lg-8" id="main_content">
					<div class="d-inline-block text-truncate" th:text="${experiod.category}">두루마리 휴지</div>
					<div class="font-grey" th:text="'D-' + ${experiod.dDay}">D-2</div>
				</div>
				<div class="col col-lg-4" id="main_content">
					<form id="experiodDeleteForm" th:action="@{experiods/{eid}(eid=${experiod.experiodIdx})}" th:method="DELETE">
						<button type="button" class="update_btn w-100" onclick="deleteExperiod()">삭제</button>
					</form>
				</div>
			</div>
		</div>
		</th:block>
	</div>
</div>

<!-- experiod add modal -->
<th:block th:include="@{/content/mypage/modal_addExperiod}"></th:block>
