<div class="row pt-3" id="move">
	<div class="col col-lg-10" id="middle_title">
		<b>공동구매내역</b>
	</div>
	<div class="col col-lg-2" id="main_content">
		<a href="#">등록한 공구</a> | <a href="#">참여한 공구</a>
	</div>
</div>
<!-- list -->
<th:block th:each="group : ${groupList}">
<div class="row pt-1 border-top"></div>
<div class="row p-3">
	<div class="col col-lg-2" id="main_content">
		<img src="/image/profile2.jpg" class="img-fluid" alt="image">
	</div>
	<div class="col col-lg-6" id="main_content">
		<div class="d-inline-block text-truncate">
			<a th:href="@{/group-buying/{groupIdx}(groupIdx = ${group.groupIdx})}" th:text="${group.title}">제목</a>
		</div>
		<div class="font-grey" th:if="${group.progress == 0}">진행중</div>
		<div class="font-grey" th:if="${group.progress == 0}">마감임박</div>
		<div class="font-grey" th:if="${group.progress == 0}">마감</div>
	</div>
	<div class="col col-lg-2 position-relative" id="middle_title">
		<b class="position-absolute bottom-0 end-0" th:text="${group.price}">1200원</b>
	</div>
	<div class="col col-lg-2 position-relative" id="main_content">
		<div class="position-absolute bottom-0 start-0 ps-3 pb-1" th:text="${group.endDate}">2022/05/10</div>
	</div>
</div>
</th:block>
