<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/default_layout}">
	
<th:block layout:fragment="head">
		<title>공구 포스트 상세 조회</title>
		<meta charset="utf-8">
		
		<!-- css -->
		<link th:href="@{/css/layout_content.css}" rel="stylesheet" />
		<link th:href="@{/css/groupBuying/layout_viewGroupPost.css}" rel="stylesheet" />
		<link th:href="@{/css/groupBuying/layout_applyGroupPost.css}" rel="stylesheet" />
		
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		
		<!-- Bootstrap CSS -->
    	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<!-- Bootstrap JS -->
		<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
		
		<th:block th:include="@{/content/groupBuyingPost/modal_delete}"></th:block>
		<th:block th:include="@{/content/groupBuyingPost/modal_update}"></th:block>
		<th:block th:include="@{/content/groupBuyingPost/modal_apply}"></th:block>
		
		<script th:inline="javascript">
			let status = false;
		
			/* 댓글 비동기 통신 */
			$( document ).ready(function() {
				commentInit();
				/* 댓글 등록 이벤트 */
				$('#btn-add-comment').click(function() {
					let groupIdx = [[${postInfo.groupIdx}]];

					let url = "/comments/" + groupIdx; 
					const content = $('#addComment').val();
					
					if(content == '') {
						alert("댓글 내용을 입력해주세요.");
						return;
					}
					
					$.ajax({
						url : url,
						type : "POST",
						datatype : "json",
						contentType : "application/json; charset=UTF-8",
						data : JSON.stringify({
							"content" : content
						}),
						success : function(res) {
							if(res == true) {
								/* 댓글 리스트 다시 렌더링하도록 새로고침 */ 	
								location.reload();
							}
						},
						error : function(statis, error) {
							alert("등록 실패입니다. 잠시 후에 다시 시도해주세요.");
						}
					});	
				});
			});
	
			// 댓글 리스트
			function commentInit() {
				let groupIdx = [[${postInfo.groupIdx}]];
				let url = "/comments/" + groupIdx;
				
				$.ajax({
					url: url,
					type: "GET",
					success: function onData (data) {
						$('#commentContent').replaceWith(data);
			    	},
			    	error: function onError (error) {
			    		console.error(error);
			    		}
			    	});
				}
			
			/* 수정폼으로 전환 */
			function transUpdateForm(comment) {
				// comment : 현재 선택한 노드
				
				// 수정폼이 이미 열려있다면 닫기
				$('.update-form').addClass("d-none");
				$('.comment-info').removeClass("d-none");
			
				// 선택 노드 기준 전체를 감싸주는 comment node 찾기
				let parentCommentNode = comment.parentNode.parentNode.parentNode;
				let nodeList = parentCommentNode.childNodes;
		
				// 댓글 수정 폼 block
				let updateFormTag = nodeList[7];
				updateFormTag.classList.remove('d-none');
				
				// 댓글 내용 none
				let contentsTag = nodeList[3];
				contentsTag.className += ' d-none';
				
				// 그외 정보 및 버튼 태그 none
				let infoTag = nodeList[9];
				infoTag.className += ' d-none';
			}
			
			// 댓글 수정
			function updateComment(comment, cid) {
				let parentCommentNode = comment.parentNode.parentNode;
				let nodeList = parentCommentNode.childNodes;
				let inputTag = nodeList[1].childNodes[1];
				
				let url = "/comments/" + cid; 
				const content = inputTag.value;
				let data = JSON.stringify({
					"content" : content
				});
				
				if(content == '') {
					alert("댓글 내용을 입력해주세요.");
					return;
				}
				
				$.ajax({
					url : url,
					type : "PUT",
					datatype : "json",
					contentType : "application/json; charset=UTF-8",
					data : data,
					success : function(res) {
						if(res == true) {
							/* 댓글 리스트 다시 렌더링하도록 새로고침 */ 	
							location.reload();
						}
					},
					error : function(statis, error) {
						alert("수정 실패입니다. 잠시 후에 다시 시도해주세요.");
					}
				});	
			}
			
			// 수정 댓글폼 취소
			function cancelUpdate(comment) {	
				// comment : 현재 선택한 댓글 노드
				let parentCommentNode = comment.parentNode.parentNode.parentNode;
				let nodeList = parentCommentNode.childNodes;
				
				// 댓글폼 block
				let updateFormTag = nodeList[7];
				updateFormTag.className += ' d-none';
				
				// 댓글 내용 none
				let contentsTag = nodeList[3];
				contentsTag.classList.remove('d-none');
				
				// 그외 정보 및 버튼 태그 none
				let infoTag = nodeList[9];
				infoTag.classList.remove('d-none');
			}
			
			/* 답글 달기 입력창 생성 */
			function replyComment(comment, cid) {
				// comment : 현재 선택한 노드, cid : 선택 노드의 id
		
				if(status) {
					// 열려 있는 대댓글 창을 닫아줌 -> 패턴 사용
					$('div').remove("[id^='reply-comment-node-']");
					status = false;
				}
				status = true;
					
				// 출력될 입력창	
				let replyNode = document.createElement('div');
				replyNode.setAttribute('class', 'row p-3 ms-3 me-3 add');
				replyNode.setAttribute('id', 'reply-comment-node-' + cid);
				
				let replyTextContainer = document.createElement('div');
				replyTextContainer.setAttribute('class', 'col col-lg-11');
				replyTextContainer.setAttribute('id', 'small_content');
				
				let replyTextInput = document.createElement('input');
				replyTextInput.setAttribute('class', 'w-100');
				replyTextInput.setAttribute('type', 'text');
				replyTextInput.setAttribute('id', 'addReply');
				replyTextInput.setAttribute('placeholder', '대댓글을 입력해주세요.');
				
				replyTextContainer.appendChild(replyTextInput);
				
				let replyButtonContainer = document.createElement('div');
				replyButtonContainer.setAttribute('class', 'col col-lg-1 m-auto');
				
				let replyButton = document.createElement('button');
				replyButton.setAttribute('class', 'btn btn-outline-light');
				replyButton.setAttribute('id', 'btn-add-reply');
				replyButton.setAttribute('onclick', 'addReply()');
				let text = document.createTextNode('등록');
				replyButton.appendChild(text);
				
				replyButtonContainer.appendChild(replyButton);
				
				replyNode.appendChild(replyTextContainer);
				replyNode.appendChild(replyButtonContainer);
				
				let preTr = comment.parentNode.parentNode;
				preTr.appendChild(replyNode);
				
			}
			
			/* 답글 등록 이벤트 */
			function addReply() {
				let groupIdx = [[${postInfo.groupIdx}]];
				
				// 댓글 idx
				let str = $("[id^='reply-comment-node-']").attr('id').split('-');
				let idx =  str[3];
					
				let url = "/comments/" + groupIdx + "/reply/" + idx; 
				const content = $('#addReply').val();
					
				if(content == '') {
					alert("댓글 내용을 입력해주세요.");
					return;
				}
					
				$.ajax({
					url : url,
					type : "POST",
					datatype : "json",
					contentType : "application/json; charset=UTF-8",
					data : JSON.stringify({
						"content" : content
					}),
					success : function(res) {
						if(res == true) {	
							/* 댓글 리스트 다시 렌더링하도록 새로고침 */ 	
							location.reload();
						}
					},
					error : function(statis, error) {
						alert("등록 실패입니다. 잠시 후에 다시 시도해주세요.");
					}
				});	
			}
			
			// 댓글 삭제
			function deleteComment(cid) {
				let result = confirm("삭제하시겠습니까?");
				
				if(result) {
					let url = "/comments/" + cid; 
					
					$.ajax({
						url : url,
						type : "DELETE",
						success : function(res) {
							if(res == true) {
								/* 댓글 리스트 다시 렌더링하도록 새로고침 */ 
								alert("삭제가 완료되었습니다.");
								location.reload();
							}
						},
						error : function(statis, error) {
							alert("삭제 실패입니다. 잠시 후에 다시 시도해주세요.");
						}
					});	
				}
			}
			
		</script>
</th:block>

<body>
		<th:block layout:fragment="nav" th:include="@{/fragments/nav}"></th:block>
		
		<div layout:fragment="content" class="content">
			<div class="container w-75" >
  			<div class="row pt-5">
				<div class="col bg-white text-center" id="page_title">
					<b>공구 포스트 상세조회</b>
				</div>
			</div>
			
			<!-- 수정하기 / 삭제하기 modal -->
		<div th:if="${userIdx} == ${postInfo.authorIdx}">
			<div class="row pt-5">
				<div class="d-flex justify-content-end">
					<!-- Button trigger modal -->
					<button type="button" class="btn btn-sm border border-secondary me-3"
						id="btn-update"
						data-bs-toggle="modal" data-bs-target="#updateModal">수정하기</button>
					<button type="button" class="btn btn-sm border border-secondary"
						id="btn-delete" data-bs-toggle="modal"
						data-bs-target="#deleteModal">삭제하기</button>
				</div>
			</div>
		</div>
			
  			<!-- post image view -->
  			<div class="row pt-3" id="div-img">
  				<div class="col col-lg-7">
   					<img th:src="@{${postInfo.imgUrl}}" alt="...">
    			</div>
    				
    			<!-- post author section -->
    			<div class="col col-lg-5">
					<img th:if="${not #strings.isEmpty(postInfo.authorImgUrl)}" th:src="@{${postInfo.authorImgUrl}}" src="/image/profile.png" id="img-author"
						class="rounded-pill mx-auto">
					&nbsp;<span th:text="${postInfo.authorName}" id="main_content" class=""><b>닉네임</b></span>
					<span class="ms-1 ps-2 badge rounded-pill bg-light text-dark" id="small_content" th:if="${userIdx} == ${postInfo.authorIdx}">작성자</span>
					
				<!-- post content -->
				<div class="post-container">
					<div th:text=${postInfo.title} id="middle_title">두루마리 휴지 공구할 분:)</div>
					<div th:text= "|#${postInfo.category}|" id="small_content" style="color: silver; padding: 3px;">#위생용품</div>
					<div th:text="|${postInfo.price}원|" id="middle_title" style="font-weight:bold">
						<b>1200원</b>
					</div>
  					
   					<div class="row pt-2">
   						<div class="col">
   							<div class="icon me-1">
	   							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people"> 
								<path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816zM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275zM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4z"/>
								</svg>
								<span th:text="|${postInfo.participateNum}/${postInfo.recruitNum}|" id="small_content">2/8</span>
							</div>
   						</div>
   					</div>
   			
   					<div class="row pt-1">
   						<div class="col">
   							<div class="icon me-1">
		   						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-check">
		  						<path d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
		  						<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
								</svg>
								<span th:text="${#temporals.format(postInfo.endDate, 'yyyy/MM/dd')}" id="small_content">2022/05/08</span>
							</div>	
						</div>
					</div>
						
					<div class="row pt-1">
						<div class="col">
							<div class="icon me-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link">
		 					 	<path d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z"/>
		  						<path d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z"/>
								</svg>
								<span th:text=${postInfo.website} id="small_content">https://naver.com</span>
							</div>
						</div>
   					</div>
   		
   					<div class="row pt-3">
   						<div th:text=${postInfo.descr} id="main_content">상세설명</div>
   					</div>
   						
					<!-- Apply BTN -->
					<div th:if="${postInfo.progress} <= 1 AND (${postInfo.authorIdx} != ${userIdx})" class="d-grid gap-2 mt-5 pt-3">
						<button type="button" class="btn btn-outline-light w-100" id="btn-apply" data-bs-toggle="modal" data-bs-target="#applyModal">신청하기</button>
					</div>
				
					<div th:if="${postInfo.authorIdx} == ${userIdx}" class="d-grid gap-2 mt-5 pt-3">
						<a th:href="@{/group-buying/{groupIdx}/apply(groupIdx=${postInfo.groupIdx})}" class="btn btn-outline-light w-100" 
							 role="button" id="btn-apply">조회하기</a>
					</div>
				
					<div th:if="${postInfo.progress} == 2 AND (${postInfo.authorIdx} != ${userIdx})" class="d-grid gap-2 mt-5 pt-3">
						<a class="btn btn-outline-light"
							role="button" id="btn-enableApply">모집 완료된 상품입니다.</a>
					</div>
				</div>
			</div>

			<!-- 댓글 -->
			<div class="row pt-5">
				<hr>
  				<div class="col">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-right-text" viewBox="0 0 16 16">
		  			<path d="M2 1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h9.586a2 2 0 0 1 1.414.586l2 2V2a1 1 0 0 0-1-1H2zm12-1a2 2 0 0 1 2 2v12.793a.5.5 0 0 1-.854.353l-2.853-2.853a1 1 0 0 0-.707-.293H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12z"/>
		  			<path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
					</svg> <span id="small_content" th:text="'댓글(' + ${postInfo.commentCnt} + ')'">댓글(0)</span>
				</div>
			</div>
			<div class= "row mt-5">

			
			<!--  th:if="${post.commentCnt == 0}" -->
			<!--  board 데이터에 댓글 개수 추가 필요 -->
			<div class="row" th:if="${postInfo.commentCnt == 0}">
				<div class="col col-lg-12">	
					댓글이 없습니다.
				</div>
			</div>

			<!--  댓글 리스트 -->
			<div id="commentContent">
			<th:block th:each="comment : ${commentList}">
				<!-- 부모 댓글 -->
				<div class="parentComment" th:if="${comment.isDeleted == false}">
					<div class="row pt-3">
						<div class="col col-lg-3">
							<img src="/image/profile.png" th:if="${comment.imageUrl}" th:src="${comment.imageUrl}" class="rounded-circle" alt="" id="img-author">
							<img src="/image/profile.png" th:unless="${comment.imageUrl}" class="rounded-circle" alt="" id="img-author">
							<span class="ps-2 font-weight-bold" id="main_content" th:text="${comment.nickname}">부모 댓글 닉네임</span>
							<span class="ps-2 badge rounded-pill bg-dark" id="small_content" th:if="${comment.isPostAuthor}">작성자</span>
						</div>
					</div>
					<div class="row pt-1 ps-5 comment-info">
						<div class="col col-lg-12">
							<p id="main_content" th:text="${comment.content}">댓글 내용</p>
						</div>
					</div>
					<!-- 댓글 수정폼 -->
					<div class="row p-3 m-3 update d-none update-form">
						<div class="col col-lg-10">
							<input type="text" class="w-100" id="updateComment" th:value="${comment.content}"/>
						</div>
						<div class="col col-lg-1 m-auto">
							<button class="btn btn-outline-light" id="btn-cancel-comment" onclick="cancelUpdate(this)">취소</button>
    					</div>
    					<div class="col col-lg-1 m-auto">
    						<button class="btn btn-outline-light" id="btn-update-comment" th:onclick="updateComment(this, [[${comment.commentIdx}]])">등록</button>
    					</div>
					</div>
						
					<div class="row pt-3 pb-3 ps-5 comment-info">
						<div class="col col-lg-2 font-grey" id="small_content" th:if="${comment.lastModifiedDate == null}" th:text="${#temporals.format(comment.createdDate, 'yyyy.MM.dd. HH:mm')}">생성 날짜</div>				
						<div class="col col-lg-2 font-grey" id="small_content" th:unless="${comment.lastModifiedDate == null}" th:text="${#temporals.format(comment.lastModifiedDate, 'yyyy.MM.dd. HH:mm' + ' 수정')}">수정된 날짜</div>
						<div class="col col-lg-1 font-weight-bold reply-comment" id="small_content" th:onclick="replyComment(this, [[${comment.commentIdx}]])">답글달기</div>
						<div class="col col-lg-7"></div>
						<div class="col col-lg-1">
							<button type="button" class="btn" id="small_content" th:if="${userIdx == comment.authorIdx}" onclick="transUpdateForm(this)">수정</button>
						</div>
						<div class="col col-lg-1">
							<button type="button" class="btn" id="small_content" th:if="${userIdx == comment.authorIdx}" th:onclick="deleteComment([[${comment.commentIdx}]])">삭제</button>
						</div>
					</div>
				</div>
				
				<!-- 삭제 댓글 -->
				<div class="removeComment mt-1" th:if="${comment.isDeleted == true}">
					<div class="row ps-1 pt-3 pb-3 pb-1 mt-1 ps-2">
						<div class="col col-lg-12">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
				  			<path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
							</svg>
							<span id="main_content">삭제된 댓글입니다.</span>
						</div>
					</div>
				</div>
				
				<!-- 자식 댓글 출력을 위한 이중 반복문 -->
				<th:block th:each="childComm : ${comment.childCommentList}">
					<!-- 자식 댓글 -->
					<div class="childComment ps-2 pb-1" th:if="${childComm.isDeleted == false}" id="fav-card">
						<div class="row pt-3 pb-1 mt-1">
							<div class="col col-lg-3">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
				  				<path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
								</svg>
								<img src="/image/profile.png" th:if="${childComm.imageUrl}" th:src="${childComm.imageUrl}" class="rounded-circle" alt="" id="img-author">
								<img src="/image/profile.png" th:unless="${childComm.imageUrl}" class="rounded-circle" alt="" id="img-author">
								<span class="ps-2 font-weight-bold" id="" th:text="${childComm.nickname}">대댓글 닉네임</span>
								<span class="ps-2 badge rounded-pill bg-light text-dark" id="small_content" th:if="${childComm.isPostAuthor}">작성자</span>
							</div>
						</div>
						<div class="row pt-1 ps-5 comment-info">
							<div class="col col-lg-12">
								<p id="main_content" th:text="${childComm.content}">대댓글 내용</p>
							</div>
						</div>
						<!-- 댓글 수정폼 -->
						<div class="row p-3 m-3 update d-none update-form">
							<div class="col col-lg-10">
								<input type="text" class="w-100" id="updateComment" th:value="${childComm.content}"/>
							</div>
							<div class="col col-lg-1 m-auto">
								<button class="btn btn-outline-light" id="btn-cancel-comment" onclick="cancelUpdate(this)">취소</button>
    						</div>
    						<div class="col col-lg-1 m-auto">
    							<button class="btn btn-outline-light" id="btn-update-comment" th:onclick="updateComment(this, [[${childComm.commentIdx}]])">등록</button>
    						</div>
						</div>
						<div class="row pt-3 pb-3 ps-5 comment-info">
							<div class="col col-lg-2 font-grey" id="small_content" th:if="${childComm.lastModifiedDate == null}" th:text="${#temporals.format(childComm.createdDate, 'yyyy.MM.dd. HH:mm')}">생성 날짜</div>
							<div class="col col-lg-2 font-grey" id="small_content" th:unless="${childComm.lastModifiedDate == null}" th:text="${#temporals.format(childComm.lastModifiedDate, 'yyyy.MM.dd. HH:mm') + ' 수정'}">수정된 날짜</div>
							<div class="col col-lg-1 font-weight-bold reply-comment" id="small_content" th:onclick="replyComment(this, [[${childComm.parentIdx}]])">답글달기</div>
							<div class="col col-lg-7"></div>
							<div class="col col-lg-1">
								<button type="button" class="btn" id="small_content" th:if="${userIdx == childComm.authorIdx}" onclick="transUpdateForm(this)">수정</button>
							</div>
							<div class="col col-lg-1">
								<button type="button" class="btn" id="small_content" th:if="${userIdx == childComm.authorIdx}" th:onclick="deleteComment([[${childComm.commentIdx}]])">삭제</button>
							</div>
						</div>
					</div>
					
					<!-- 자식 삭제 댓글 -->
					<div class="removeComment mt-1" th:if="${childComm.isDeleted == true}"id="fav-card">
						<div class="row pt-3 pb-3 pb-1 mt-1 ps-2">
							<div class="col col-lg-12">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-right" viewBox="0 0 16 16">
					  			<path fill-rule="evenodd" d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
								</svg>
								<span id="main_content">삭제된 댓글입니다.</span>
							</div>
						</div>
					</div>
				</th:block>
			</th:block>
			</div>
			  
			<!-- 댓글 등록 버튼 -->
			<div class="row mt-5 p-3 add">
   				<div class="col col-lg-11" id="small_content">
   					<input type="text" id="addComment" class="w-100" placeholder="댓글을 입력해주세요."/>
    			</div>
    			<div class="col col-lg-1 m-auto">
    				<button class="btn btn-outline-light" id="btn-add-comment" >등록</button>
    			</div>
  			</div>
		</div>	
		</div>
		</div>
		</div>
		<th:block layout:fragment="footer" th:include="@{/fragments/footer}"></th:block>
	</body>
</html>