					<!--Update Modal -->
					<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
						<div class="modal-dialog">
				        	<div class="modal-content"> 
								<div class="modal-body justify-content-md-center ps-5 pe-5">
				                	<div id="page_title" class="text-center"><b>게시물 수정</b></div>  
				              		<div class="pt-4 pd-5 text-center">게시물을 정말 수정하시겠습니까?</div>
				            	</div>

								<div class="d-flex mx-auto pt-5 mb-3 text-center">
									<button type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal">취소</button>
									<form th:id="goUpdateForm" th:action="@{/group-buying/{groupIdx}/update(groupIdx=${postInfo.groupIdx})}" th:method="GET">
				               			<button type="submit" class="btn btn-secondary" id="btn-modalConfirm">수정</button>
				               		</form>
								</div>
				         	</div>
				        </div>
				   </div>